<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card car-transparent">
                    <div class="card-body p-0">
                        <div class="profile-image position-relative">
                            <img src="/assets/images/top-header2.png" class="img-fluid rounded w-100" alt="profile-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-sm-0 px-3">

            <div class="col-lg-3 card-profile">
                <div class="card card-block card-stretch card-height d-flex justify-content-center align-items-center">
                    <a href="#" class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
                        <div class="card-body d-flex justify-content-center align-items-center flex-column">
                            <img src="/assets/images/suivi.svg" class="img-fluid rounded-circle w-50" alt="profile-image">
                            <p class="mb-0 text-center">suivi des frais de scolarité</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 card-profile">
                <div class="card card-block card-stretch card-height d-flex justify-content-center align-items-center">
                    <a href="#" class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
                        <div class="card-body d-flex justify-content-center align-items-center flex-column">
                            <img src="/assets/images/Gestion.svg" class="img-fluid rounded-circle w-50" alt="profile-image">
                            <p class="mb-0 text-center">Gestion paiements et rappels</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 card-profile">
                <div class="card card-block card-stretch card-height d-flex justify-content-center align-items-center">
                    <a href="#" class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
                        <div class="card-body d-flex justify-content-center align-items-center flex-column">
                            <img src="/assets/images/bourse.svg" class="img-fluid rounded-circle w-50" alt="profile-image">
                            <p class="mb-0 text-center">Bourses et aides financières</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 card-profile">
                <div class="card card-block card-stretch card-height d-flex justify-content-center align-items-center">
                    <a href="#" class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
                        <div class="card-body d-flex justify-content-center align-items-center flex-column">
                            <img src="/assets/images/evaluation.svg" class="img-fluid rounded-circle w-50" alt="profile-image">
                            <p class="mb-0 text-center">Rapports financiers</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
