<!-- app.component.html -->
<div class="flex flex-col h-screen">
    <!-- Main Layout -->
    <div class="flex h-full">

        <!-- Sidebar (visible sur les écrans moyens et grands) -->
        <aside
            class="bg-white w-64 p-4 flex-shrink-0 transition-transform transform lg:translate-x-0 z-50 fixed lg:relative top-0 left-0 bottom-0 lg:block h-full"
            [class.-translate-x-full]="!isSidebarOpen">
            <!-- Sidebar Header (Visible uniquement sur mobile) -->
            <div class="flex justify-between lg:hidden">
                <button (click)="closeSideBar()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>

            <!-- Sidebar Navigation -->
            <div>
                <!-- Logo et séparateur -->
                <div class="text-gray-100 text-xl">
                        <!-- Logo -->
                        <img src="/school.jpeg" alt="Logo" style="width: 40vh; height: 12vh; ">
                </div>

                <!-- Menus -->
                <a routerLink="/dashboard">
                    <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
                        [ngClass]="{'bg-blue-600': activeMenu === 'home'}" (click)="selectMenu('home')">
                        <i class="bi bi-house-door-fill"
                            [ngStyle]="{'color': activeMenu === 'home' ? 'white' : '#0E3E7E'}"></i>
                        <span class="text-[15px] ml-4 font-bold"
                            [ngStyle]="{'color': activeMenu === 'home' ? 'white' : '#0E3E7E'}">
                            Tableau de bord
                        </span>
                    </div>
                </a>
                <a routerLink="/transanction">
                    <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
                        [ngClass]="{'bg-blue-600': activeMenu === 'transaction'}" (click)="selectMenu('transaction')">
                        <i class="bi bi-coin"
                            [ngStyle]="{'color': activeMenu === 'transaction' ? 'white' : '#0E3E7E'}"></i>
                        <span class="text-[15px] ml-4 font-bold"
                            [ngStyle]="{'color': activeMenu === 'transaction' ? 'white' : '#0E3E7E'}">
                            Transaction
                        </span>
                    </div>
                </a>

                <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
                    [ngClass]="{'bg-blue-600': activeMenu === 'payment'}" (click)="selectMenu('payment')">
                    <i class="bi bi-credit-card"
                        [ngStyle]="{'color': activeMenu === 'payment' ? 'white' : '#0E3E7E'}"></i>
                    <span class="text-[15px] ml-4 font-bold"
                        [ngStyle]="{'color': activeMenu === 'payment' ? 'white' : '#0E3E7E'}">
                        Paiement
                    </span>
                </div>

                <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
                    [ngClass]="{'bg-blue-600': activeMenu === 'school-management'}"
                    (click)="selectMenu('school-management')">
                    <i class="bi bi-person-lines-fill"
                        [ngStyle]="{'color': activeMenu === 'school-management' ? 'white' : '#0E3E7E'}"></i>
                    <span class="text-[15px] ml-4 font-bold"
                        [ngStyle]="{'color': activeMenu === 'school-management' ? 'white' : '#0E3E7E'}">
                        Gestion Ecole
                    </span>
                </div>
            </div>
        </aside>

        <!-- Main Content -->
        <main class="flex-1 bg-gray-100">
            <!-- Header -->
            <header class="text-white p-4 flex items-center justify-between">
                <div class="flex">
                    <div class="text-lg font-bold text-blue-900">Tableau de bord</div>
                    <button class="lg:hidden" (click)="toggleSidebar()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>
                <div class="flex items-center space-x-4">
                    <!-- Search icon and input -->
                    <div class="relative">
                        <input type="text" placeholder="Rechercher..." class="bg-gray-700 text-white p-2 pl-10 rounded-md">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 absolute left-3 top-2" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M11 4a7 7 0 1114 0 7 7 0 01-14 0zm0 0L4.5 11.5" />
                        </svg>
                    </div>
                    
                    <!-- Notification icon -->
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 2C8.13 2 5 4.91 5 8v5.29a7.963 7.963 0 00-2 1.71V16a6 6 0 004 5.66V22h6v-5.34A6 6 0 0019 16v-.99a7.963 7.963 0 00-2-1.71V8c0-3.09-3.13-6-7-6z" />
                        </svg>
                    </button>
                    
                    <!-- User icon -->
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 3a2 2 0 012-2h10a2 2 0 012 2v1h2a2 2 0 012 2v14a2 2 0 01-2 2H5a2 2 0 01-2-2V6a2 2 0 012-2h2V3z" />
                        </svg>
                    </button>
                </div>
            </header>            
            <router-outlet></router-outlet>
        </main>
    </div>
</div>