<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card car-transparent">
                    <div class="card-body p-0">
                        <div class="profile-image position-relative">
                            <img src="/assets/images/top-header2.png" class="img-fluid rounded w-100"
                                alt="profile-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-sm-0 px-3">
            
            <div class="col-lg-3 card-profile">
                <div class="card card-block card-stretch card-height d-flex justify-content-center align-items-center">
                    <a href="#" class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
                        <div class="card-body d-flex justify-content-center align-items-center flex-column">
                            <img src="/assets/images/eleves.svg" class="img-fluid rounded w-50"
                                alt="profile-image">
                                <p class="mb-0 text-center">Liste etudiants</p>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col-lg-3 card-profile">
                <div class="card card-block card-stretch card-height" style="text-align:center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <a href="Suivi.html">
                        <div class="card-body">
                            <img src="/assets/images/evaluation.svg" class="img-fluid rounded w-50"
                                alt="profile-image">
                            <div class="mt-2">
                                <p class="mb-0">Suivi A et évaluation</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 card-profile">
                <div class="card card-block card-stretch card-height" style="text-align:center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <a href="Gestion-abscent.html">
                        <div class="card-body">
                            <img src="/assets/images/absence.svg" class="img-fluid rounded w-50"
                                alt="profile-image">
                            <div class="mt-2">
                                <p class="mb-0">Gestion des absences</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 card-profile">
                <div class="card card-block card-stretch card-height" style="text-align:center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <a href="Sante-bienetre.html">
                        <div class="card-body">
                            <img src="/assets/images/Sante.svg" class="img-fluid rounded w-50"
                                alt="profile-image">
                            <div class="mt-2">
                                <p class="mb-0">Santé des étudiants</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 card-profile">
                <div class="card card-block card-stretch card-height" style="text-align:center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <a href="#">
                        <div class="card-body">
                            <img src="/assets/images/extra.svg" class="img-fluid rounded w-50"
                                alt="profile-image">
                            <div class="mt-2">
                                <p class="mb-0">Activités extra-scolaires</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 card-profile">
                <div class="card card-block card-stretch card-height" style="text-align:center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <a href="#">
                        <div class="card-body">
                            <img src="/assets/images/Performances.svg" class="img-fluid rounded w-50"
                                alt="profile-image">
                            <div class="mt-2">
                                <p class="mb-0">Performances des étudiants</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 card-profile">
                <div class="card card-block card-stretch card-height" style="text-align:center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <a href="#">
                        <div class="card-body">
                            <img src="/assets/images/Analyses.svg" class="img-fluid rounded w-50"
                                alt="profile-image">
                            <div class="mt-2">
                                <p class="mb-0">Analyses financières</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 card-profile">
                <div class="card card-block card-stretch card-height" style="text-align:center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <a href="#">
                        <div class="card-body">
                            <img src="/assets/images/Statistiques.svg" class="img-fluid rounded w-50"
                                alt="profile-image">
                            <div class="mt-2">
                                <p class="mb-0">Statistiques. A et participation</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
