<div class="wrapper " style="background-image: url(/assets/images/desk.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;">
      <section class="login-content">
         <div class="container">
            <div class="row align-items-center justify-content-center height-self-center">
               <div class="col-lg-9">
                  <div class="card auth-card">
                     <div class="card-body p-0">
                        <div class="d-flex align-items-center auth-content">
                           <div class="col-lg-6  content-left">
                              <div class="p-3">
                                 <h2 class="mb-2 text-white">Connecter vous</h2>
                                 <img src="/assets/images/logo2.png" alt="logo" style="width:100%">
                 
                                 <form>
                                    <div class="row">
                                       <div class="col-lg-12">
                                          <div class="form-group mb-3">
                                <label for="exampleInputText01">Email</label>
                                <input type="Email" class="form-control" id="exampleInputText01" placeholder="Email">
                            </div>
                                       </div>
									   
									   
                                       <div class="col-lg-12">
                                          <div class="form-group mb-3">
                                <label for="exampleInputText01" >Mot de passe</label>
                                <input type="Pasword" class="form-control" id="exampleInputText01" placeholder="Mot de passe">
                            </div>
                                       </div>
                                       
                                    </div>
                                    <a href="index.html" type="submit" class="btn btn-primary col-lg-12">Connecter vous</a>
                                   
                                 </form>
                              </div>
                           </div>
                           <div class="col-lg-6 content-right">
                              <img src="/assets/images/6.png" class="" alt="" width="495px" height="495px">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      </div>