<div class="wrapper" 
     style="background-image: url(/desk.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;">
  <section class="login-content">
     <div class="container">
        <div class="row align-items-center justify-content-center">
           <div class="col-lg-9">
              <div class="card auth-card">
                 <div class="card-body p-0">
                    <div class="d-flex align-items-center auth-content">
                       <div class="col-lg-6 content-left">
                          <div class="p-3">
                             <h2 class="mb-2 text-white">Connectez-vous</h2>
                             <img src="/logo2.png" alt="logo" style="width: 100%;">
                             <form>
                                <div class="row">
                                   <div class="col-lg-12">
                                      <div class="form-group mb-3">
                                         <label for="exampleInputText01">Email</label>
                                         <input type="email" class="form-control" id="exampleInputText01" placeholder="Email">
                                      </div>
                                   </div>
                                   <div class="col-lg-12">
                                      <div class="form-group mb-3">
                                         <label for="exampleInputPassword">Mot de passe</label>
                                         <input type="password" class="form-control" id="exampleInputPassword" placeholder="Mot de passe">
                                      </div>
                                   </div>
                                </div>
                                <a href="index.html" type="submit" class="btn btn-primary col-lg-12">Connectez-vous</a>
                             </form>
                          </div>
                       </div>
                       <div class="col-lg-6 content-right">
                          <img src="/6.png" class="" alt="" width="495px" height="495px">
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </section>
</div>
