<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card car-transparent">
                    <div class="card-body p-0">
                        <div class="profile-image position-relative">
                            <img src="../assets/images/top-header2.png" class="img-fluid rounded w-100"
                                alt="profile-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-sm-0 ">

            <div class="col-lg-12 card-profile">
                <div class="card card-block card-stretch card-height">
                    <div class="card-body">
                        <ul class="d-flex nav nav-pills mb-3 text-center " id="profile-pills-tab"
                            role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" data-toggle="pill" href="#profile1" role="tab"
                                    aria-selected="false">Informations. G l'établissement</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#profile2" role="tab"
                                    aria-selected="false">Configuration du calendrier scolaire</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#profile3" role="tab"
                                    aria-selected="false">Gestion utilisateurs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#profile4" role="tab"
                                    aria-selected="false"></a>
                            </li>


                        </ul>
                        <div class="profile-content tab-content">

                            <div id="profile1" class="tab-pane fade active show">
                                <!-- debut contenu -->
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div
                                                class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
                                                <h5>Informations de l'etablissement</h5>
                                                <div
                                                    class="d-flex flex-wrap align-items-center justify-content-between">


                                                    <div class="pl-3 btn-new border-left">
                                                        <a href="#" class="btn btn-primary"
                                                            data-target="#new-project-modal"
                                                            data-toggle="modal">Ajouter Information</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- fin contenu -->

                            <!-- debut contenu profile2 -->
                            <div id="profile2" class="tab-pane fade">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div
                                                class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
                                                <h5>Configuration</h5>

                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <!-- fin contenu -->

                            <!-- debut contenu profile3 -->
                            <div id="profile3" class="tab-pane fade">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div
                                                class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
                                                <h5>Gestion Utilisateurs</h5>

                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <!-- fin contenu -->

                            <!-- debut contenu profile4 -->
                            <div id="profile4" class="tab-pane fade">

                            </div>
                            <!-- fin contenu -->
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>
</div>

<div class="modal fade" role="dialog" aria-modal="true" id="new-project-modal">
    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header d-block text-center pb-3 border-bttom"
                style="background-color:#d0b72a; color:white">
                <img src="../assets/images/top-header3.png" class="img-fluid rounded w-100" alt="profile-image">
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label for="exampleInputText01">Matricule</label>
                            <input type="text" class="form-control" id="exampleInputText01" placeholder="Matricule">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label for="exampleInputText01">Nom</label>
                            <input type="text" class="form-control" id="exampleInputText01" placeholder="Nom">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label for="exampleInputText01">Prenom</label>
                            <input type="text" class="form-control" id="exampleInputText01" placeholder="Prenom">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label for="exampleInputText2" class="h5">Sexe</label>
                            <select name="type" class="selectpicker form-control" data-style="py-0">
                                <option>Masculin</option>
                                <option>Feminin</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <label for="exampleInputText2" class="h5">Classe</label>
                            <select name="type" class="selectpicker form-control" data-style="py-0">
                                <option>classe 1</option>
                                <option>classe 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group mb-3">
                            <label for="exampleInputText2" class="h5">Indication</label>
                            <select name="type" class="selectpicker form-control" data-style="py-0">
                                <option>Oui</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <label for="exampleInputText01">Nom parent</label>
                            <input type="text" class="form-control" id="exampleInputText01"
                                placeholder="Nom parent">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <label for="exampleInputText01">Prenom parent</label>
                            <input type="text" class="form-control" id="exampleInputText01"
                                placeholder="Prenom parent">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <label for="exampleInputText01">Tel</label>
                            <input type="text" class="form-control" id="exampleInputText01" placeholder="tel">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <label for="exampleInputText01">Adresse</label>
                            <input type="text" class="form-control" id="exampleInputText01" placeholder="Adresse">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                            <div class="btn btn-primary mr-3" data-dismiss="modal">Enregistrer</div>
                            <div class="btn btn-primary" data-dismiss="modal">Fermer</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" aria-modal="true" id="classe">
    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header d-block text-center pb-3 border-bttom"
                style="background-color:#d0b72a; color:white">
                <img src="../assets/images/top-header4.png" class="img-fluid rounded w-100" alt="profile-image">
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <label for="exampleInputText2">classe</label>
                            <select name="type" class="selectpicker form-control" data-style="py-0">
                                <option>classe 1</option>
                                <option>classe 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <label for="exampleInputText2">Indication</label>
                            <select name="type" class="selectpicker form-control" data-style="py-0">
                                <option>Oui</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <label for="exampleInputText01">Frais d'Inscription</label>
                            <input type="text" class="form-control" id="exampleInputText01"
                                placeholder="Frais d'Inscription">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <label for="exampleInputText01">Frais mensuel</label>
                            <input type="text" class="form-control" id="exampleInputText01"
                                placeholder="Frais d'Inscription">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <label for="exampleInputText01">Total/an</label>
                            <input type="text" class="form-control" id="exampleInputText01" placeholder="0 GNF"
                                disabled>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <label for="exampleInputText01">tranche</label>
                            <input type="number" class="form-control" id="exampleInputText01" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <label for="exampleInputText01">Tranche 1</label>
                            <input type="text" class="form-control" id="exampleInputText01" placeholder="0 GNF">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <label for="exampleInputText01">Tranche 2</label>
                            <input type="text" class="form-control" id="exampleInputText01" placeholder="0 GNF">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <label for="exampleInputText01">Tranche 3</label>
                            <input type="text" class="form-control" id="exampleInputText01" placeholder="0 GNF">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                            <div class="btn btn-primary mr-3" data-dismiss="modal">Enregistrer</div>
                            <div class="btn btn-primary" data-dismiss="modal">Fermer</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Etudiants start -->
<div class="modal fade" role="dialog" aria-modal="true" id="Proffesseur">
    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header d-block text-center pb-3 border-bttom"
                style="background-color:#d0b72a; color:white">
                <img src="../assets/images/top-header3.png" class="img-fluid rounded w-100" alt="profile-image">
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <label for="exampleInputText01">Nom</label>
                            <input type="text" class="form-control" id="exampleInputText01" placeholder="Nom">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <label for="exampleInputText01">Prenom</label>
                            <input type="text" class="form-control" id="exampleInputText01" placeholder="Prenom">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <label for="exampleInputText2">Sexe</label>
                            <select name="type" class="selectpicker form-control" data-style="py-0">
                                <option>Masculin</option>
                                <option>Feminin</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <label for="exampleInputText01">Tel</label>
                            <input type="text" class="form-control" id="exampleInputText01" placeholder="tel">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <label for="exampleInputText01">Adresse</label>
                            <input type="text" class="form-control" id="exampleInputText01" placeholder="Adresse">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <label for="exampleInputText2">Classe</label>
                            <select name="type" class="selectpicker form-control" data-style="py-0">
                                <option>Classe 1</option>
                                <option>Classe 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-md-8 col-lg-5 d-flex justify-content-center align-items-center">
                            <div class="d-flex text-left align-items-center w-100">
                                <strong class="sl">Select Language:</strong>
                                <select id="multiple-checkboxes" multiple="multiple">
                                    <option value="php">PHP</option>
                                    <option value="javascript">JavaScript</option>
                                    <option value="java">Java</option>
                                    <option value="sql">SQL</option>
                                    <option value="jquery">Jquery</option>
                                    <option value=".net">.Net</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-12">
                        <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                            <div class="btn btn-primary mr-3" data-dismiss="modal">Enregistrer</div>
                            <div class="btn btn-primary" data-dismiss="modal">Fermer</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>